* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
  font-family: "Roboto", sans-serif;
}

.movie-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.movie-card img {
  width: 200px;
}

#home-genre {
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: rgba(29, 53, 87, 0.75);
  margin-bottom: 100px;
}

#navBar {
  height: 125px;
  background-color: rgb(29, 53, 87);
  padding: 2em;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5em;
}

#navBar-content {
  display: flex;
  justify-content: space-between;
}

#navBar a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  color: rgba(241, 250, 238, 0.5);
  margin-right: 2em;
  font-size: 1.25em;
}
#navBar h1 {
  color: rgb(241, 250, 238);
  font-size: 2em;
}

#navBar a:hover {
  color: rgba(241, 250, 238, 0.85);
  border-bottom: 2px solid rgb(241, 250, 238, 0.85);
  transition-duration: 0.3s;
}

#home-content-box {
  font-family: "Roboto", sans-serif;
  width: 400px;
  height: fit-content;
  margin-left: 200px;
  margin-bottom: 100px;
}
#home-content-box h1 {
  margin-bottom: 0.1em;
  font-size: 3em;
}
#home-content-box h2 {
  margin-bottom: 2em;
  padding-bottom: 2em;
  font-size: 1.25em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#home-search {
  background-color: rgba(29, 53, 87, 0.75);
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#searchBar {
  position: static;
  width: 500px;
  padding: 1em;
  border: 1px solid rgba(241, 250, 238, 0.5);
  margin-bottom: 2em;
}
#searchBar[type="text"] {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}
#searchBar::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#searchBar:focus {
  outline: none;
}

.movie-card {
  text-align: center;
  margin-bottom: 100px;
}
.movie-card img {
  width: 175px;
  height: 250px;
  margin-bottom: 1.5em;
}

.movie-card a {
  text-decoration: none;
  color: black;
  font-size: 0.75em;
}

/* ------------------------------- LOGIN / REGISTER PART ---------------------------------------  */

#login-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
#login-form input {
  width: 400px;
  padding: 1em;
  border: 1px solid rgba(241, 250, 238, 0.5);
  margin-bottom: 2em;
}
#login-form input::placeholder {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
#login-form h1 {
  margin-bottom: 2em;
}

#login-form #submit-button {
  width: 150px;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  background-color: rgba(29, 53, 87);
  color: white;
  transform: translate(251px, 0px);
}

/* ------------------------------- SEARCH PART ---------------------------------------  */

.search-result {
  width: 500px;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid rgba(241, 250, 238, 0.5);
  background-color: white;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  transform: translate(0px, -50px);
  z-index: 6;
}

#container {
  position: relative;
}

#resultForm {
  position: absolute;
}

/* ----------------------------------------------- footer ----------------------------------------------- */

#footer {
  margin-top: 200px;
  height: 200px;
  background-color: rgba(29, 53, 87);
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer h5 {
  font-family: "Roboto", sans-serif;
  padding-left: 1em;
  margin-bottom: 1em;
}

/* ----------------------------------------------- catalogue ----------------------------------------------- */
#sort-by {
  width: 600px;
  margin-bottom: 2em;
  padding-left: 5em;
}
#sort-by #submit-button {
  width: fit-content;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  background-color: rgba(29, 53, 87);
  color: white;
  transform: translate(251px, 0px);
  border: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  transform: translate(5px, 0px);
}
#sort-by select {
  width: 400px;
  padding: 1em;
  border: 1px solid rgba(241, 250, 238, 0.5);
  margin-bottom: 2em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

#sort-by option {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
#sort-by a {
  padding-left: 1em;
}
#catalog-content {
  width: 60%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.movie-detail-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}
.side-content {
  padding-left: 3em;
}
.side-content p {
  margin-top: 10px;
}
.side-content button {
  margin-top: 10px;
}

.sub-btn-cat {
  font-family: "Roboto", sans-serif;
  background-color: rgba(29, 53, 87);
  color: white;
  margin-top: 10px;
  border: none;
  padding: 0.5em;
}

#detail-main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#detail-main img {
  height: 500px;
}
