*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;

}

.movie-card{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.movie-card img{
    width: 200px;
}

.home-genre {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}